<?xml version="1.0"?>
<config>
    <modules>
        <Oddbrew_Oddexporter>
            <version>1.0.0</version>
        </Oddbrew_Oddexporter>
    </modules>
    <global>
        <helpers>
            <oddbrew_oddexporter>
                <class>Oddbrew_Oddexporter_Helper</class>
            </oddbrew_oddexporter>
        </helpers>
        <blocks>
            <adminhtml>
                <rewrite>
                    <system_config_form_fieldset>Oddbrew_Oddexporter_Block_Adminhtml_System_Config_Form_Fieldset</system_config_form_fieldset>
                    <system_config_edit>Oddbrew_Oddexporter_Block_Adminhtml_System_Config_Edit</system_config_edit>
                </rewrite>
            </adminhtml>
            <oddbrew_oddexporter>
                <class>Oddbrew_Oddexporter_Block</class>
            </oddbrew_oddexporter>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Oddbrew_Oddexporter before="Mage_Adminhtml">Oddbrew_Oddexporter_Adminhtml</Oddbrew_Oddexporter>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <oddbrew_oddexporter>
                    <file>oddbrew/oddexporter.xml</file>
                </oddbrew_oddexporter>
            </updates>
        </layout>
    </adminhtml>
</config>