<?xml version="1.0"?>
<config>
    <modules>
        <OddBrew_OddExporter>
            <version>1.0.0</version>
        </OddBrew_OddExporter>
    </modules>
    <global>
        <helpers>
            <oddbrew_oddexporter>
                <class>OddBrew_OddExporter_Helper</class>
            </oddbrew_oddexporter>
        </helpers>
        <blocks>
            <adminhtml>
                <rewrite>
                    <system_config_form_fieldset>OddBrew_OddExporter_Block_Adminhtml_System_Config_Form_Fieldset</system_config_form_fieldset>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <oddbrew_oddexporter after="Mage_Adminhtml">OddBrew_OddExporter_Adminhtml</oddbrew_oddexporter>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>